<p>lab-form works!</p>

<form class="example-section" [formGroup]="symtoms">
  <h4>Select Your Symtoms:</h4>
  <p>
    <mat-checkbox formControlName="abdominalPain" (change)="this.onChange(1)">Abdominal Pain</mat-checkbox>
    <mat-checkbox formControlName="anxiety" (change)="this.onChange(2)">Anxiety</mat-checkbox>
    <mat-checkbox formControlName="backPain">Back Pain</mat-checkbox>
    <mat-checkbox formControlName="burningEyes">Burning eyes</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="burningInTheThroat">Burning in the throat</mat-checkbox>
    <mat-checkbox formControlName="cheekSwelling">Cheek Swelling</mat-checkbox>
    <mat-checkbox formControlName="chestPain">Chest Pain</mat-checkbox>
    <mat-checkbox formControlName="chestTightness">Chest Tightness</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="chills">Chills</mat-checkbox>
    <mat-checkbox formControlName="coldSweats">Cold Sweats</mat-checkbox>
    <mat-checkbox formControlName="cough">Cough</mat-checkbox>
    <mat-checkbox formControlName="dizziness">Dizziness</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="droopingEyelid">Drooping Eyelid</mat-checkbox>
    <mat-checkbox formControlName="dryEyes">Dry Eyes</mat-checkbox>
    <mat-checkbox formControlName="earache">Earache</mat-checkbox>
    <mat-checkbox formControlName="earlySatiety">Early Satiety</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="eyePain">Eye Pain</mat-checkbox>
    <mat-checkbox formControlName="eyeRedness">Eye Redness</mat-checkbox>
    <mat-checkbox formControlName="fastDeepenedBreathing">Fast Deepened Breathing</mat-checkbox>
    <mat-checkbox formControlName="feelingOfForeignBodyInTheEye">Feeling Of Foreign Body In The Eye</mat-checkbox>
  </p>

  <p>
    <mat-checkbox formControlName="fever">Fever</mat-checkbox>
    <mat-checkbox formControlName="goingBlackBeforeTheEyes">Going Black Be fore The Eyes</mat-checkbox>
    <mat-checkbox formControlName="headache">Headache</mat-checkbox>
    <mat-checkbox formControlName="heartburn">Heartburn</mat-checkbox>
    
  </p>
  <p>
    <mat-checkbox formControlName="dizziness">Hiccups</mat-checkbox>
    <mat-checkbox formControlName="hotFlushes">Hot Flushes</mat-checkbox>
    <mat-checkbox formControlName="increasedThirst">Increased Thirst</mat-checkbox>
    <mat-checkbox formControlName="itchingEyes">Itching Eyes</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="itchingInTheNose">Itching In The Nose</mat-checkbox> 
    <mat-checkbox formControlName="lipSwelling">Lip Swelling</mat-checkbox> 
    <mat-checkbox formControlName="memoryGap">Memory Gap</mat-checkbox> 
    <mat-checkbox formControlName="menstruationDisorder">Menstruation Disorder</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="missedPeriod">Missed Period</mat-checkbox>
    <mat-checkbox formControlName="nausea">Nausea</mat-checkbox>
    <mat-checkbox formControlName="neckPain">Neck Pain</mat-checkbox>
    <mat-checkbox formControlName="nervousness">Nervousness</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="nightCough">Night Cough</mat-checkbox>
    <mat-checkbox formControlName="painInTheLimbs">Pain In The Limbs</mat-checkbox>
    <mat-checkbox formControlName="painOnSwallowing">Pain On Swallowing</mat-checkbox>
    <mat-checkbox formControlName="palpitations">Palpitations</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="paralysis">Paralysis</mat-checkbox>
    <mat-checkbox formControlName="reducedAppetite">Reduced Appetite</mat-checkbox>
    <mat-checkbox formControlName="runnyNose">Runny Nose</mat-checkbox>
    <mat-checkbox formControlName="shortnessOfBreath">Shortness Of Breath</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="skinRash">Skin Rash</mat-checkbox>
    <mat-checkbox formControlName="sleeplessness">Sleeplessness</mat-checkbox>
    <mat-checkbox formControlName="sneezing">Sneezing</mat-checkbox>
    <mat-checkbox formControlName="soreThroat">Sore Throat</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="sputum">Sputum</mat-checkbox>
    <mat-checkbox formControlName="stomachBurning">Stomach Burning</mat-checkbox>
    <mat-checkbox formControlName="stuffyNose">Stuffy Nose</mat-checkbox>
    <mat-checkbox formControlName="sweating">Sweating</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="swollenGlandsInTheArmpits">Swollen Glands In The Armpits</mat-checkbox>
    <mat-checkbox formControlName="swollenGlandsOnTheNeck">Swollen Glands On The Neck</mat-checkbox>
    <mat-checkbox formControlName="tears">Tears</mat-checkbox>
    <mat-checkbox formControlName="tiredness">Tiredness</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="tremorAtRest">Tremor At Rest</mat-checkbox>
    <mat-checkbox formControlName="unconsciousnessShort">Unconsciousness Short</mat-checkbox>
    <mat-checkbox formControlName="vomiting">Vomiting</mat-checkbox>
    <mat-checkbox formControlName="vomitingBlood">Vomiting Blood</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="weakness">Weakness</mat-checkbox>
    <mat-checkbox formControlName="weightGain">Weight Gain</mat-checkbox>
    <mat-checkbox formControlName="wheezing">Wheezing</mat-checkbox>
  </p>

  <button mat-button (click)="getDy()">Submit</button>
</form>

<section class="example-section" [formGroup]="symtoms">
  <h4>You chose:</h4>
  {{symtoms.value | json}}
</section>

