<mat-card >
    <div class="container-center-thing">
        <h1>Login</h1>
        <p>
            <mat-form-field appearance="outline" class="input-size-my">
                <label for="userInput">Email</label>
                <input type="txet" id="userInput" matInput  [(ngModel)] ="email">
                <mat-icon matSuffix> email</mat-icon>
              </mat-form-field>
    
        </p><br>
        
        <p>
            <mat-form-field appearance="outline" class="input-size-my">
                <label for="passwordInput">Password</label>
                <input matInput [type]="hide ? 'password' : 'text'" id="passwordInput"  [(ngModel)] ="password">
                <button mat-icon-button matSuffix (click) ="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed] ="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </p><br>

        <p>Patient or Doctor?</p>
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="updateCheckbox()">{{isDoctor}}</mat-slide-toggle>
        
        <br>
        <button routerLink ="profile" mat-button type="button" (click)="login()">Login</button>

        


    </div>
    
</mat-card>
