<!-- <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->

<!-- 
<mat-drawer-container class="example-container">
    <mat-drawer mode="side"  class="example-sidenav" opened>
      <div class="center-button">
        <h3 *ngIf="loginServ.currentEmployee.email != ''">Hello, {{loginServ.currentEmployee.name}}</h3>
      </div><br>
      <div class="center-button">
        <button routerLink="home" mat-button class="button-color">Add From <mat-icon>home</mat-icon></button>
      </div>
      <div class="center-button">
        <button routerLink="profile" mat-button class="button-color">all forms <mat-icon>account_circle</mat-icon></button>
      </div>
      <div class="center-button">
        <button routerLink="tr-form-page" mat-button class="button-color">dsfrg <mat-icon>assignment</mat-icon></button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      
    </mat-drawer-content>
  </mat-drawer-container> -->