<p>view-appotemnts works!</p>

<table mat-table [dataSource]="apptformList" class="mat-elevation-z8 demo-table">
    <!-- date Column -->
    <ng-container matColumnDef="apptDate">
      <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <!-- time Column -->
    <ng-container matColumnDef="docName">
      <th mat-header-cell *matHeaderCellDef> Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
    </ng-container>
  
    <!-- doctor Name Column -->
    <ng-container matColumnDef="patName">
      <th mat-header-cell *matHeaderCellDef> Patient </th>
      <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
    </ng-container>
  
</table>
