th {
   
    
    border-bottom: 2px solid black;
    margin: 0 auto;
    

}


table td{
    border-bottom: 2px solid black;
     
}
table{
   
    width: 300px;
    margin: 0 auto;
    

}

div{
    margin-top: 25px;
   
}


