.button-color{
    background: rgba(23, 130, 158, 1);
    color: rgb(253, 250, 250);
    
}


.example-card {
    max-width: 400px;
}
  
.example-header-image {
   
    background-size: cover;
}


.container-center-thing{
    /* text-align: center;
    justify-items: center; */

    width: 400px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    border-radius: 75px;
    align-self: center;
    align-items: center;
}

.input-size-my{
    width: 300px;
    
}
.text-center{
    text-align: center;
    align-content: center;
}