
<div class="container-center-thing">
    <mat-card class="example-card">
       
         
          <h2 class="text-center">Sign Up</h2>
        
        <img mat-card-image src="assets/H.jpeg" alt="Photo of Virtual health care">
        <mat-card-content>
          <p>
            Thank you for taking the next step. Are you a Doctor or a Patient
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="doctorsignup"  mat-button class="button-color">Doctor<mat-icon> local_hospital</mat-icon></button>
          <button routerLink="patientsignup"  mat-button class="button-color">Patient<mat-icon>person</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>

